/*dark theme only*/
[data-theme="dark"] {
  --pico-font-weight: 400;
  --pico-primary-background: #1e88e5;
  --pico-primary-hover: #52c4f1;
  --pico-primary-focus: #533ca5;
  --pico-primary-inverse: #fff;
  --pico-muted-color: hsl(205deg, 10%, 60%);
  --pico-dropdown-background-color: hsl(205deg, 30%, 10%);

  --spacing-hero: 2rem;
  background-color: #13171f;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

small {
  color: var(--pico-muted-color);
}

a {
  text-decoration: none;
}

/* Header */
.hero {
  background-color: #394046;
  background-image: url("media/background.webp");
  background-position: center;
  background-size: cover;
}

header {
  padding: var(--spacing-hero) 0;
  text-shadow: 0 0 1rem black;
}

header hgroup {
  margin-bottom: var(--spacing-hero);
}

/* Nav */
nav details.dropdown summary.transparent {
  &,
  &:hover,
  &:focus {
    background-color: transparent;
    border-width: 0;
    color: var(--contrast-hover);
  }
}

/* Main */
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing-hero);
    grid-template-columns: auto 25%;
  }
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-hero);
  line-height: 1.25;
}

/*span inside a => icon*/
a span {
  font-family: sans-serif;
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0;
  padding-bottom: 56.25%;
}
.yt-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

aside img {
  width: 100%;
}

body footer.container {
  background-image: url("media/footer_graphics.svg");
  background-position-y: bottom;
  max-width: 100%;
  background-size: 100%;
  padding-top: 15em;
  margin-bottom: -15em;

  text-align: center;
}

/*fix some odd bug in picocss that causes horizontal overflow scrolling on page*/
nav ul:last-of-type {
  margin-right: 0;
}
